*{
    box-sizing: border-box;
    font-family:'Raleway', sans-serif; 
}

header{
    display: flex;
    background-color: rgb(26, 3, 3);
    color: white; 
    font-size: 34px;
}    

#titulo-principal{
    font-size: 50px;
    color: white; 
}

a:active{
    background-color: turquoise;   
}

a.navegacion{
    color: white;
}

.navegacion {
    text-decoration: none;
    }

ul{
    list-style:none;
    text-decoration: none;
}

#imagen-principal{
    width:100%;
}

.body{
  padding: 5px;
} 

main{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 25px;
}

h2, h3, h4 {
    font-size: 30px;        
}

.articulos-relacionados{
    display: flex;
    background-color: rgb(120, 25, 25);
    color: rgb(172, 92, 70);
}

p{
    font-size: 21px;
}

article{
    justify-content: space-between;
}

section{
    display: flex;
    background-color: rgb(65, 7, 7);
    color: rgb(172, 92, 70);
}

footer {
    text-align: center;
    color: rgb(172, 92, 70);
    background-color: rgb(26, 3, 3);
}
